/* Basic Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    /* Removes tap highlight on mobile */
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-main);
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-main);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Form element resets */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Remove scrollbars cross browser while keeping scroll functionality where needed */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-pill);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}